.dataTables_filter {
    padding: 0;
    border-bottom: 0;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 10px !important;
}

.dataTables_info, .dataTables_paginate {
    margin-top: 10px !important;
}

.dataTables_info {
    padding-top: 0 !important;
}

.user-stat-session .pagination a {
    font-size: 1.2rem;
}
